# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Data science languages
- Data science libraries
- Data Science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Ggplot

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| R Studio |
| Matlab |

### Below are a few examples of evaluating arithmetic expressions in Python

# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Madhumidha N K